/* * {
  border: dashed 2px red;
} */

.home {
  background-color: #3D3D3D;
  color: white;
  min-height: 100vh;
}

.header {
  background-color: #171717;
  height: 75px;
  display: flex;
  align-items: center;
}

.headerLeft {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.headerRight {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.headerItem {
  margin-left: 10px;
  margin-right: 10px;
}

.searchBar {
  background-color: #C3C3C3;
  color: black;
  width: 70%;
  height: 30px;
  border-radius: 20px;
  border: none;
  padding-left: 10px;
}

.buttonMain {
  background-color: #489E2A;
  height: 30px;
  border-radius: 20px;
  border: none;
  width: 100px;
}

.logo {
  color: #489E2A;
  width: 100px;
  text-align: center;
}
